[submodule "sdk/corecpp/third_party/sentencepiece"]
	path = sdk/corecpp/third_party/sentencepiece
	url = https://github.com/google/sentencepiece.git
[submodule "sdk/corecpp/third_party/models/embedding/multilingual-e5-small"]
	path = sdk/corecpp/third_party/models/embedding/multilingual-e5-small
	url = https://huggingface.co/intfloat/multilingual-e5-small
[submodule "sdk/corecpp/third_party/models/embedding/granite-embedding-107m-multilingual"]
	path = sdk/corecpp/third_party/models/embedding/granite-embedding-107m-multilingual
	url = https://huggingface.co/ibm-granite/granite-embedding-107m-multilingual
[submodule "sdk/corecpp/third_party/executorch"]
	path = sdk/corecpp/third_party/executorch
	url = https://github.com/pytorch/executorch.git
	branch = release/0.6
[submodule "sdk/corecpp/third_party/tensorflow"]
	path = sdk/corecpp/third_party/tensorflow
	url = https://github.com/tensorflow/tensorflow.git
	branch = r2.19
